*{
    margin: 0;
    padding: 0;
}

body{
    justify-content:center ;
    align-items: center;
    height: 100vh;
    display: flex;
}

.calculator{  
    border-radius: 10px;
    background-color: rgb(59, 57, 57);
    margin: 0;
    padding: 0;
    max-width: 500px;
    border: 10px solid black;
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

button{
    border-radius: 50px;
    cursor: pointer;
    font-size: 3rem;
    width: 100px;
    height: 100px;
    background-color: rgb(48, 42, 42);
    color: white;
    border: none;
}

button:hover{
    background-color: rgb(79, 76, 76);
}

button:active{
    background-color: rgb(142, 132, 132);
}

#input{
    width: 100%;
    height: 7rem;
    border-radius: 10px;
    text-align: left;
    border:none;
    color:white;
    font-size:6rem ;
    background-color: rgba(97, 89, 89, 0.598);
}